* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.root {
    -fx-background-image: url("bg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#startMinecraftButton:disabled {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #555555, #999999);
    -fx-border-color: #aaaaaa;
    -fx-text-fill: #dddddd;
    -fx-opacity: 0.6;
}

#startMinecraftButton:disabled .label {
    -fx-effect: none;
    -fx-text-fill: #cccccc;
}